.Comment-light{
  background-color: rgb(199, 199, 199);
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.Comment-dark{
  background-color: rgb(99, 98, 98);
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.Comment p{
  margin-bottom: 1em;
}